.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}
.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Montserrat";
}
.btn:not(:last-child) {
  margin-right: 20px;
}
.title {
  font-family: "Montserrat";
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 1px;
  font-size: 28px;
  font-weight: 700;
}
.statisticList {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.statisticItem {
  margin-right: 20px;
  text-align: center;
  align-items: center;
  font-family: "Montserrat";
}
.name {
  font-size: 16px;
}
.value {
}
