.btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}
.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.title {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 1px;
  font-size: 28px;
  font-weight: 700;
}
.statisticList {
  padding: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 250px;
}
.statisticItem {
  margin-right: 20px;
  text-align: center;
  align-items: center;
}
.name {
  font-size: 16px;
}
.value {
}
